.overview {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 10vh 3vw 10vh 3vw;
  .chart {
    width: 70vw;
    height: 80vh;
    position: absolute;
    border-radius: 10px;
    float: left;
    background-color: var(--secondBackground);
  }
  .infos {
    position: relative;
    width: 20vw;
    height: 80vh;
    margin-left: auto;
    border-radius: 10px;
    background-color: var(--secondBackground);
    p {
      color: var(--text);
    }
  }
}
