<header>
  <nav>
    <mat-toolbar class="mat-elevation-z8">
      <form (ngSubmit)="onSubmit($event)">
        <mat-form-field class="example-full-width" appearance="fill">
          <input
            type="text"
            name="stock"
            placeholder="Geben Sie einen Aktiennamen ein ..."
            aria-label="Name"
            matInput
            [formControl]="formControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M21.172 24l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"
        />
      </svg>
    </mat-toolbar>
    <button
      ng-click="ctrl.myFunction()"
      aria-controls="primary-navbar"
      aria-expanded="false"
      class="hamburger"
    >
      <span class="rectangle top rectangle--small"></span>
      <span class="rectangle mid"></span>
      <span class="rectangle bottom rectangle--small"></span>
    </button>
    <ul id="primary-navbar" data-visible="false" class="primary-navbar">
      <!-- Navbar -->
      <li><a href="#Charts" class="Charts">Charts</a></li>
      <li><a href="#Portfolio" class="Portfolio">Portfolio</a></li>
      <li><a href="#Watchlist" class="Watchlist">Watchlist</a></li>
    </ul>
  </nav>
</header>
<div class="content-wrapper">
  <div id="left-sidebar">
    <mat-card *ngFor="let filter of filters" class="mat-elevation-z8">
      <p *ngIf="filter.name == 'sector'">Branche</p>
      <p *ngIf="filter.name == 'exchange'">Börse</p>
      <p *ngIf="filter.name == 'index'">Index</p>
      <p *ngIf="filter.name == 'country'">Land</p>
      <mat-radio-group [name]="filter.name" (change)="setFilter($event)">
        <mat-radio-button
          *ngFor="let option of filter.options"
          [value]="option.value"
          >{{ option.name }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </div>
  <div id="content">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row?.name }}</td>
      </ng-container>
    <div id="left-sidebar">
        <mat-card *ngFor="let filter of filters" class="mat-elevation-z8">
            <p *ngIf="filter.name == 'sector'">Branche</p>
            <p *ngIf="filter.name == 'exchange'">Börse</p>
            <p *ngIf="filter.name == 'index'">Index</p>
            <p *ngIf="filter.name == 'country'">Land</p>
            <mat-radio-group [name]="filter.name" (change)=setFilter($event)>
            <!-- <mat-radio-group [(ngModel)]="selectedFilter.get(filter.name)" [name]="filter.name" (change)=setFilter($event)> -->
                <mat-radio-button *ngFor="let option of filter.options" [value]="option.value">{{option.name}}
                </mat-radio-button>
            </mat-radio-group>
            <div class="filter-button-wrapper">
                <button mat-mini-fab color="primary" (click)=resetFilter($event)>
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
    </div>
    <div id="content">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row">{{row?.name}}</td>
            </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Land</th>
        <td mat-cell *matCellDef="let row">{{ row?.country }}</td>
      </ng-container>

      <!-- Market Capitalization Column -->
      <ng-container matColumnDef="market_capitalization">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Marktkapitalisierung
        </th>
        <td mat-cell *matCellDef="let row">{{ row?.market_capitalization }}</td>
      </ng-container>

      <!-- ISIN Column -->
      <ng-container matColumnDef="isin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ISIN</th>
        <td mat-cell *matCellDef="let row">{{ row?.isin }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
        <td mat-cell *matCellDef="let row">{{ row?.symbol }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
