mat-toolbar {
    height: 80px;
    top: 0;
    position: fixed;
    background-color: grey;

    mat-form-field {
        width: 400px;
    }
}

.content-wrapper {
    padding: 85px 5px 5px 5px;

    mat-radio-button {
        display: block;
        padding: 5px 0 5px 0;
    }

    mat-card {
        margin: 5px 0 5px 0;
    }
}